/* 
typically we'd call tailwind base here to reset the default styles, but for our little demo 
we'll leave it commented out.
*/

/*
@tailwind base; 
*/

.container {

    width: 100%
}

@media (min-width: 640px) {

    .container {

        max-width: 640px
    }
}

@media (min-width: 768px) {

    .container {

        max-width: 768px
    }
}

@media (min-width: 1024px) {

    .container {

        max-width: 1024px
    }
}

@media (min-width: 1280px) {

    .container {

        max-width: 1280px
    }
}

@media (min-width: 1536px) {

    .container {

        max-width: 1536px
    }
}

.mx-auto {

    margin-left: auto;

    margin-right: auto
}

.bg-red-300 {

    --tw-bg-opacity: 1;

    background-color: rgba(252, 165, 165, var(--tw-bg-opacity))
}

.text-2xl {

    font-size: 1.5rem;

    line-height: 2rem
}

.font-semibold {

    font-weight: 600
}
